.comp-acai{
    display: flex;
    flex-direction: column;


    .box-acai{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 500px;        
        background-color: rgb(107, 114, 107);
        border: none;
    }
    button{
        padding: 6px;
        height: 30px;
        width: 200px;
        border-radius: 10px;
    }

    .sla{
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    input{
        width: 200px;
        padding: 6px;
        text-decoration: none;
        border-radius: 10px;
        border: none;
    }

    label{
        margin-right: 10px;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
}